<h1 class="title has-text-centered pt-6">   
    Books
</h1>

{{#if dbError}}
    <p class="subtitle has-text-centered" style="margin-top:100px ;">Couldn't display the page right now, try again later</p>
    <div class="column has-text-centered">
        <a href="/" class="button is-responsive mt-2">Go to start page</a>
    </div>
{{else}}
    <body>
        {{#if books.length}}
                <section class="section">
                    <div class="container">
                        <div class="columns is-multiline is-8 is-variable">
                            {{#each books}}
                                {{#if char_id}}
                                    <div class="column is-4-tablet is-3-desktop">
                                        <section class="container">
                                            <div class="has-text-centered px-6">
                                                <a href="/books/{{bookID}}">  
                                                    <img src="/images/img_books/{{imgName}}" >   
                                                </a>                                          
                                            </div> 
                                            <div class= "has-text-centered">
                                                <a href="/books/{{bookID}}" class="subtitle is-centered has-text-centered">{{title}}</a>
                                                <div class="help">
                                                    {{year}}
                                                </div> 
                                            </div>
                                        </section>   
                                    </div>  
                                {{/if}} 
                            {{/each}}
                        </div>
                    </div>
                </section>
            {{else}}
            <div class="colums has-text-centered">
                <div class="column subtitle">
                    There is no books at the moment
                </div>
            </div>
        {{/if}}
    </body>
{{/if}}

