<link rel="stylesheet" href="character.css">

 {{#if dbError}}
    <p class="subtitle has-text-centered" style="margin-top:100px ;">Couldn't display the page right now, try again later</p>
        
    <div class="column has-text-centered">
        <a href="/" class="button is-responsive mt-2">Go to start page</a>
    </div>
{{else}}

{{#if character}}
    <h1 class="title has-text-centered pt-6">
        {{character.name}} 
    </h1> 
    <div class="columns is-centered">
        <div class="section column">
            <p>
                {{character.description}}
            </p>
            <div class="box" style="margin-top: 20px;">
                <p>Click play to hear theme music</p>
                <audio controls autoplay>
                    <source src="/sounds/{{character.soundName}}" type="audio/mp3">
                </audio>
            </div>
        </div>
        <div class="section column image">
            <img src="/images/img_characters/{{character.imageName}}">
        </div>
    </div>

    {{#if isLoggedIn}}
        <div class="columns is-mobile is-multiline is-centered">
        <div class="column is-narrow">
            <p class="bd-notification is-primary">
                <form action="/characters/delete/{{character.id}}" method="POST">
                    <button class="button">Delete {{character.name}}</button>
                </form>
            </p>
        </div>
            <div class="column is-narrow">
                <p class="bd-notification is-primary">
                <a href="/characters/update/{{character.id}}" class="button">Update {{character.name}}</a>
                </p>
            </div>
        </div>
    {{/if}}

    {{else}}
        <div class="subtitle is-4 has-text-centered mt-6" style="font-size: 135px;">
            404
        </div>
        <div class="subtitle is-4 has-text-centered mt-6">
            The character you're trying to reach is unfortunately not here
        </div>  
        <div class="column has-text-centered">
            <a href="/characters" class="button is-responsive">Go to all characters</a>
        </div>
        <div class="column has-text-centered">
            <img src="/images/img_characters/karlsson_sur.jpeg">
        </div>  
    {{/if}}
{{/if}}



