{{!-- {{movie.title}}
{{movie.name}} --}}

{{#if movie}}

    <h1 class="title has-text-centered pt-6">
        {{movie.title}} 
    </h1> 

    <p>här är karaktärens namn: {{movie.name}}</p>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column image">
                    
                    <img src="/images/img_movies/{{movie.imgName}}">
                </div>
                <div class="column">
                    
                    <p>
                        {{movie.description}}
                    </p> 
                </div>
                <div class="column">
                    <div class="has-text-centered px-6">
                            
                            <a href="/characters/{{movie.char_id}}">  
                                <img src="/images/img_characters/{{movie.imageName}}" style="border-radius: 50%;">      
                            </a> 
                            <div class="subtitle">
                                This movie is about {{movie.name}}
                                <div class="subtitle is-7">
                                Click on the picture for mor information about the character
                            </div> 
                            </div>   
                            
                    </div>
                </div>
            </div>
        </div>
    </section>







    <div class="section">
        <p>
            här ska det vara andra filmer från samma karaktär
        </p>
    </div>
{{else}}
    <p>That movie does not exist</p>
{{/if}}