
<div class="columns">
    <div class="column">
        här ska det finnas filter och sortering
    </div>
    <div class="column">
        <h1 class="title has-text-centered pt-6">
            <div>
                Movies
            </div>
        </h1>
    </div>
    <div class="column">
        <h1 class="title has-text-centered pt-6">
            <div>
                <p class="bd-notification is-primary ">
                    <a href="/add-movie" class="button">Add movies</a>
                </p>
            </div>
        </h1>
    </div>
</div>


<body>
    

    {{#if movies.length}}
        
            <section class="section">
                <div class="container">
                    <div class="columns is-multiline is-8 is-variable">
                        {{#each movies}} 
                            <div class="column is-4-tablet is-3-desktop">

                                <section class="container">
                                    <div class="has-text-centered px-6">
                                            <a href="/movies/{{movieID}}">  
                                                <img src="/images/img_movies/{{imgName}}" >   
                                            </a>   
                                                   
                                    </div>
                                    
                                    <div class= "has-text-centered">
                                        <a href="/movies/{{id}}" class="subtitle is-centered has-text-centered">{{title}}</a>
                                        <div class="help">
                                                {{year}}
                                            </div> 
                                    </div>
                                    

                                </section>
                                    
                            </div>
                        {{/each}}    
                    </div>
                </div>
            </section>
            
                                    
        
        {{else}}
            <p>There is no movies at the moment.</p>
    {{/if}}

    

</body>